* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.flag {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, #000000 33.33%, #d60000 33.33%, #d60000 66.66%, #f7c800 66.66%);
}

.stamp {
    display: flex;
    gap: 6px;
}

.stamp-flag div {
    width: 4px;
    height: 24px;
}

.stamp-text {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 10px;
    gap: 4px;
}

.drop {
    padding: 16px;
    border: 2px dashed var(--gray-9);
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.preview {
    width: 100%; 
    padding: 8px; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.preview-img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}

.dragover {
    border-color: var(--accent-9) !important;
    background: rgba(255, 255, 255, 0.05);
}

.zb2-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .zb2-container {
        flex-direction: column;
    }
}

.logo {
    width: 160px;
}

.logo svg .st1 {
    fill: #1a9cd8;
}

.App {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Form {
    height: 100%;
    min-width: 768px;
}


.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}



